.commonPress {
  height: 0;
  width: 0;
  inset: 50% auto auto 50% !important;
  transform: translate(-50%, -50%);
  animation: pressState 0.4s ease;
  border-radius: 50px;
}

[class^='btn-'] {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  border: 0;
  cursor: pointer;
  padding: 10px 18px;
  display: flex;
  column-gap: 8px;
  height: 42px;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  user-select: none;
  width: max-content;

  &.flex-bottom {
    align-items: flex-end;
  }

  &.round {
    padding: 10px;
    width: 42px;
    border-radius: 50%;
  }

  &.plain {
    background-color: transparent;
  }

  span {
    @extend .txt-button;
    position: relative;
    color: inherit;
  }

  &::before {
    pointer-events: none;
    content: '';
    position: absolute;
    inset: 0;
    background-color: transparent;
  }

  &.onpressed::before {
    @extend .commonPress;
    background-color: var(--dynamic-press);
  }
}

.btn-error.plain {
  color: $error-color;
  fill: $error-color;

  &:hover::before {
    background-color: $error-hover;
  }

  &.onpressed::before {
    @extend .commonPress;
    background-color: $error-press;
  }
}

.btn-primary.plain {
  color: $primary;
  fill: $primary;

  &:hover::before {
    background-color: $primary-hover;
  }

  &.onpressed::before {
    @extend .commonPress;
    background-color: $primary-press;
  }
}

.btn-error:not(.plain) {
  background-color: $error-color;
}
.btn-primary:not(.plain) {
  background-color: $primary-variant;
}

.btn-primary:not(.plain),
.btn-error:not(.plain),
.btn-gradient {
  color: rgba(#fff, 87);
  fill: rgba(#fff, 87);

  &:hover::before {
    background-color: $light-hover;
  }

  &.onpressed::before {
    @extend .commonPress;
    background-color: $light-press;
  }
}

.btn-secondary {
  color: var(--text-emphasis);
  fill: var(--text-emphasis);

  &:hover::before {
    background-color: var(--dynamic-hover);
  }
}

.btn-secondary {
  background-color: $secondary;
}

.btn-gradient {
  background-image: linear-gradient(
    to left,
    $primary-variant 0% 20%,
    $primary 40% 50%,
    $primary-variant 70% 100%
  );
  box-shadow: 0px 4px 17px rgba($primary-variant, 0.8),
    0px -4px 17px rgba($primary-variant, 0.5);
  background-size: 300% 100%;
  background-position-x: 100%;
  animation: gradientBackground 1.5s ease infinite;
}
