.border {
  border: solid 1px #e8e8e8;
}
.border-2 {
  border: solid 2px #e8e8e8;
}
.border-top {
  border-top: solid 1px #e8e8e8;
}
.border-bottom {
  border-bottom: solid 1px #e8e8e8;
}
.border-bottom-2 {
  border-bottom: solid 2px #e8e8e8;
}
.border-left {
  border-left: solid 1px #e8e8e8;
}
.border-right {
  border-right: solid 1px #e8e8e8;
}
.border-none {
  border: 0 none !important;
}

.cursor-ptr {
  cursor: pointer !important;
}

// text-style
.header1,
h1 {
  font-size: 96px;
  line-height: 0.985;
  font-weight: 300;
}
.header2,
h2 {
  font-size: 60px;
  line-height: 0.995;
  font-weight: 300;
}
.header3,
h3 {
  font-size: 48px;
  line-height: 1;
  font-weight: 400;
}
.header4,
h4 {
  font-size: 34px;
  line-height: 1;
  font-weight: 400;
}
.header5,
h5 {
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
}
.header6,
h6 {
  font-size: 20px;
  line-height: 1.015;
  font-weight: 500;
}

.sub-title {
  font-size: 16px;
  line-height: 1.015;
  font-weight: 400;
}
.sub-title2 {
  font-size: 14px;
  line-height: 1.01;
  font-weight: 500;
}
.txt-body1 {
  font-size: 16px;
  line-height: 1.05;
  font-weight: 400;
}
.txt-body2 {
  font-size: 14px;
  line-height: 1.025;
  font-weight: 400;
}
.txt-button {
  font-size: 14px;
  line-height: 0.87;
  font-weight: 500;
  text-transform: uppercase;
}
.caption {
  font-size: 12px;
  line-height: 1.04;
  font-weight: 400;
}
.overline {
  font-size: 10px;
  line-height: 1.015;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (min-width: 576px) {
  .txt-button {
    line-height: 1.015;
  }
}

// more styles
.txt-capital {
  text-transform: capitalize;
}
.txt-upper {
  text-transform: uppercase;
}
.txt-lower {
  text-transform: lowercase;
}

.txt-center {
  text-align: center;
}
.txt-right {
  text-align: right;
}
.txt-left {
  text-align: left;
}
