@import './cenia_form.scss';
@import './jcarlos_form.scss';
@import './estefani_form.scss';
@import './Evelinstyles.scss';
@import './genkisty.scss';
@import './Evelin_St.scss';

@import './whiteboard.scss';

.landing {
  height: calc(100vh - 80px);
  transition: background-color 0.2s ease-in-out;
}

.landing-title {
  transition: color 0.2s ease-in-out;
  text-align: center;
}

html {
  // background-image: url('https://app-cdn.clickup.com/login-bg.5ff304517621ee7b0287.svg');
  // background-size: cover;
  // background-repeat: no-repeat;
  background-color: #18191a;
  min-height: 100vh;
  width: 100%;
  position: relative;
}
